@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #c0c7d6, #0e75ea);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 32px rgba(252, 139, 139, 0.4);
}

h1 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #f0f0f0;
}

h2 {
  color: #003cff;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #06a5c5;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #2ec600;
  transform: scale(1.03);
}

.btn.logout {
  background: #000128;
  color: #fff;
}

.btn.logout:hover {
  background: #e64949;
}

.btn.show {
  background: #ffd700;
  color: #000;
}

.btn.add {
  background: #6cff9f;
  color: #000;
}

#strength {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffd700;
}

.dashboard {
  text-align: left;
}

.hidden {
  display: none;
}

.records-box {
  margin-top: 15px;
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  background: rgba(230, 14, 14, 0.1);
}

.record {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.record button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #a6ff76;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.record button:hover {
  background: #e8e545;
}

pre {
  background: rgba(202, 167, 167, 0.3);
  padding: 10px;
  border-radius: 10px;
  max-height: 150px;
  overflow-y: auto;
  color: #bfc8d4;
  font-size: 13px;
}
